<div class="container">
  <a class="btn btn-primary float-md-right" routerLink="/addProveedor">Añadir nuevo proveedor</a>
  <div *ngIf="cargando" style="padding-top:60px;" class="text-center">
    <i class="fa fa-spinner" aria-hidden="true"></i>
  </div>
  <div *ngIf="!cargando">
    <table class="table table-bordered table-striped ">
      <thead>
        <tr class="filters">
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedor">
          <td>{{proveedor.nombre}}</td>
          <td><a href="mailto:{{proveedor.email}}">{{proveedor.email}}</a></td>
          <td>{{proveedor.telefono}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>